
$background-color-white: #FFFFFF ;
$background-color-secondary: rgba(129,129,129,1);
$background-color-primary: rgba(0,130,200,1);
$primary-text-color: rgba(0,130,200,1);
$secondary-text-color: #ffffff;
$sub-text-color: rgba(129,129,129,1);
$hover-color: rgba(0,84,129,1);


